<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <title>Seleção de Vagas</title>
</head>
<body>
     

    <head>
        <div class="head" id="voltar" onclick="voltar()"><</div>
         </head>


         <main>
 <div id="main" class="main">

<div id="center" class="center">
<div id="title" class="title">

<h1>Visualizar Vagas</h1>

</div>
<div class="box" id="box">
<div class="l1" id="l1" >
<input  onmouseenter="dis(this)" name='check'type="checkbox" id="l1c1" >
<input   onmouseenter="dis(this)" type="checkbox" id="l1c2" >
<input  onmouseenter="dis(this)" type="checkbox" id="l1c3" >
<input  onmouseenter="dis(this)" type="checkbox" id="l1c4" >
<input  onmouseenter="dis(this)" type="checkbox" id="l1c5" >

</div>

<div class="l2" id="l2">

<input  onmouseenter="dis(this)"  type="checkbox" id="l2c1">
<input   onmouseenter="dis(this)" type="checkbox" id="l2c2">
<input  onmouseenter="dis(this)"type="checkbox" id="l2c3">
<input  onmouseenter="dis(this)" type="checkbox" id="l2c4">
<input onmouseenter="dis(this)"  type="checkbox" id="l2c5" >

</div>

</div>

</div>


 </div>



 </main>
 <footer>
<div class="disp"><h3></h3>-Disponível</div>
<div class="indis"><h4></h4>-Indisponível</div>
 </footer>
</body>
</html>